{#=====================================================
  sign up page:
  form for adding user

=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - sign up

{% endblock %}


{% block content %}

    <h1>Sign up </h1>


    

        <form action="/add-user" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Your name"
                required
            >

             <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >

             <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >
         

            <button>sign up</button>

        </form>

    </article>

{% endblock %}

